{% extends 'base.html' %}
{% block title %}All Appointments{% endblock %}

{% block body %}
<div class="container">
<br>
<a href="/">
  <button class="btn">Go to Homepage</button>
<br>
</a>

<p class="all-patients"> Appointments </p>
<ul>
{% for appointment in appointments %}


<li>
    <p>Doctor Name: {{ appointment.doctor_name }}</p>
    <a href="/appointments/{{ appointment.appointment_id }}">
      <p> Appointment Information for Patient: {{ appointment.patient_name }}</p>
      
    </a>
  </li>
{% endfor %}

</ul>
</div>
{% endblock %}