{% extends 'base.html' %}

{% block title %}{{ doctor.doctor_name }} - Details{% endblock %}

{% block body %}
<div class="container">
  <a href="/">
    <button class="btn-to-go">Go to Homepage</button>
  </a>

<h1>Doctor Information</h1>

<h2>Name: {{ doctor.doctor_name }}</h2>
<h2>Email: {{ doctor.doctor_email }}</h2>
<h2>Availability: {{ doctor.availability }}</h2>
<h2>Specialty: {{ doctor.specialty }}</h2>
<h2>Address: {{ doctor.address }}</h2>

<!-- <h2>Create Appointment</h2>
  <form action="/appointments/create" method="POST">
    <p>
      Doctor Name <input type="text" name="doctor_name">
    </p>


    <p>
      Patient Name <input type="text" name="patient_name">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>
    
    
    <p>
        Insurance <input type="text" name="insurance">
    </p>
    
    <p>
        Allergies <input type="text" name="allergies">
    </p>
    
    <p>
        Medication List <input type="text" name="medications">
    </p>

    <p>
      <input type="submit">
    </p>
  </form> -->


</div>
{% endblock %}