{% extends 'base.html' %}
{% block title %}CareFlow Homepage{% endblock %}

{% block body %}
<header>
  <div>
    <h1>CareFlow Management</h1>
  </div>  
  <nav> 
      <button class="btn" onclick="window.location.href='/patients'">All Patients</button>
      <button class="btn" onclick="window.location.href='/doctors'">All Doctors</button>
      <button class="btn" onclick="window.location.href='/appointments'">All Appointments</button>
  </nav>

      
</header>        
<article>
  CareFlow Management is an application designed to streamline patient care and administrative processes within healthcare settings. The app offers features for managing patient profiles, scheduling appointments, and keeping track of doctor availability. It allows users to create and log into patient accounts, view a comprehensive list of patients, doctors, and appointments, and manage essential healthcare information efficiently.
</article>

<main>
  <div class="create-form">
    <h2>Create Patient Account</h2>
  <form action="/patients" method="POST">
    <p>
      Email <input type="text" name="patient_email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      Patient Name <input type="text" name="patient_name">
    </p>
    
    <p> 
      Gender <input type="text" name="gender">
    </p>
    
    <p>
        Insurance <input type="text" name="insurance">
    </p>
    
    <p>
        Allergies <input type="text" name="allergies">
    </p>
    
    <p>
        Medication List <input type="text" name="medications">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  </div>
  
  <div class="login">
  <h2>Patient Log In</h2>
  
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="patient_email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  </div>
</main> 
{% endblock %}